@import "colors";

@import "~typeface-raleway/index.css";
@import "~typeface-ubuntu/index.css";

$font-family-sans-serif: "Raleway", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

.wrapper {
    min-height: 100%;
    margin-bottom: -10rem;
    padding: 3rem 0 10rem;
}

.footer {
    bottom: 0;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.container-fluid {
    background: $bg;
    color: $fg;
}

nav {
    &.navbar {
        .navbar-brand {
            background: url("/assets/logo@2x.png") no-repeat;
            background-size: auto 100%;
            padding: 0 0 0 1.5em;
            font-weight: 700;
            font-size: 1.5em;
            color: $red;
            &:active,&:hover {
                color: $red;
            }
        }
        .navbar-text {
            svg {
                background-size: contain;
            }
        }
    }
}

.alt-container {
    background: $altBg;
    color: $altFg;
    font-family: "Raleway", sans-serif;
    font-size: 16px;

    a {
        color: $white;
        &:hover {
            color: darken($white, 5%);
            text-decoration: none;
        }
    }
}

.hero-img {
    background-image: url('/img/slider-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;

    padding: 10rem 0;

    position: relative;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #4d6e4f;
        opacity: .8;
    }

    .hero {
        position: relative;
        color: $white;
        z-index: 2;
    }
}


.big-number-wrapper {
    margin: 0;
    .big-number {
        font-size: 8rem;
    }
}